<header>
  <nav class="navbar navbar-expand-lg navbar-secondary">
    <div class="row"></div>
      <div class="col-2">
        <a class="navbar-brand" href="/">
          <img class="navbar-logo" src="assets/logo.png" />
        </a>
      </div>
      <div class="col-2 offset-6">
        <button type="button" class="btn btn-primary btn-block text-uppercase" translate>Header.curious</button>
      </div>
      <div class="col-2">
        <button type="button" class="navbar-login btn btn-outline-primary btn-block text-uppercase" translate>
          Header.login
        </button>
      </div>
  </nav>
</header>
