<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-secondary">
      <div class="col-2">
        <a class="navbar-brand" href="/">
          <img class="navbar-logo" src="assets/logo.svg" />
        </a>
      </div>
      <div class="col-6 col-md-4 offset-md-2 col-lg-2 offset-lg-6">
        <button type="button" class="btn btn-primary btn-block text-uppercase"><a href=#curious translate>Header.curious</a></button>
      </div>
      <div class="col-md-4 col-2 col-lg-2 d-none d-md-block">
        <button type="button" class="navbar-login btn btn-outline-primary btn-block text-uppercase" translate>
          Header.login
        </button>
      </div>
  </nav>
</header>
