<div class="container sn-home">
  <div class="sn-home__jumbotron row">
    <div class="jumbotron bg-transparent">
      <h1>
        <img class="logo d-block mx-auto" src="assets/double-dash-icon.png" alt="Double Dash Logo"/>
      </h1>
      <h2 class="sn-home__top-text text-center" translate>
        Home.topText
      </h2>
      <div class="sn-home__subtext row justify-content-md-center">
        <div class="col-4">
          <p class="sn-home__subtext" translate>Home.subtext1</p>
        </div>
        <div class="col-4">
          <p class="sn-home__subtext" translate>Home.subtext2</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div text-center class="sn-home__carousel col" data-ride="carousel" >
      <ngb-carousel data-ride="carousel">
        <ng-template ngbSlide *ngFor="let carouselString of carouselStrings">
          <h3 translate >{{ 'Home.carousel.' + carouselString }}</h3>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <div class="sn-home__carousel-subtext row mt-4 justify-content-center">
    <div class="col-4 text-center">
      <p translate>Home.carousel.subtext</p>
    </div>
  </div>

  <div class="sn-home__secret">
    <div class="row mt-4 justify-content-center">
      <div class="col-auto">
        <h2 class="sn-home__secret-title" translate>Home.panel3.title</h2>
      </div>
    </div>
    <div class="row mt-4 justify-content-center text-center">
      <div class="col-5">
        <p translate>Home.panel3.subtext</p>
      </div>
    </div>
    <div class="row text-center sn-home__secret-subtext">
      <div class="col-3">
        <h4 translate>Home.panel3.subtitles.whystorming</h4>
      </div>
      <div class="col-3">
        <h4 translate>Home.panel3.subtitles.truthstorming</h4>
      </div>
      <div class="col-3">
        <h4 translate>Home.panel3.subtitles.swarm</h4>
      </div>
      <div class="col-3">
        <h4 translate>Home.panel3.subtitles.hyper</h4>
      </div>
    </div>
  </div>

  <div class="sn-home__quotes text-center">
    <h3 class="sn-home__quotes-title text-uppercase" translate>Home.quotes.title</h3>
    <div class="row justify-content-center">
      <div class="col-8">
      <ngb-carousel data-ride="carousel">
          <ng-template ngbSlide *ngFor="let count of [0,1,2,3]">
            <img class="mb-4" src="assets/quote-marks-open.png">
            <div>
              <h3 class="sn-home__quotes-quote" translate >{{ 'Home.quotes.list.' + count }}</h3>
            </div>
            <img class="mt-4" src="assets/quote-marks-close.png">
          </ng-template>
      </ngb-carousel>
      </div>
    </div>
  </div>

  <div class="sn-home__video text-center">
    <div>VIDEO PLACEHOLDER</div>
  </div>

  <div class="sn-home__curious text-center">
    <h3 class="sn-home__curious-title text-uppercase" translate>Home.curious.title</h3>
    <div class="sn-home__curious-form row justify-content-around">
      <div *ngFor="let key of ['sponsor', 'solutionist', 'partner']" class="col-4">
        <div class="form-group mx-4">
          <label for="{{ key }}" translate>{{ 'Home.curious.' + key + '.title' }}</label>
          <input type="email" class="form-control text-center" id="{{key + 'InputEmail" placeholder="{{ 'Home.curious.email' | translate }}">
          <button type="button" class="btn btn-primary btn-block text-uppercase" translate>{{ 'Home.curious.' + key + '.action' }}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="sn-home__knock text-center">
    <h2 translate>Home.knock.title</h2>
    <button class="btn btn-outline-primary text-uppercase" translate>Home.knock.action</button>
  </div>

  <div class="sn-home__looking text-center">
    <h3 class="text-uppercase" translate>Home.looking.title</h3>
  </div>
</div>

