<div class="container-fluid sn-home">
  <div class="sn-home__jumbotron row">
    <div class="jumbotron bg-transparent">
      <h1>
        <img class="logo d-block mx-auto" src="assets/double-dash-icon.svg" alt="Double Dash Logo"/>
      </h1>
      <h2 class="sn-home__top-text text-center" translate>
        Home.topText
      </h2>
      <div class="sn-home__subtext row justify-content-center text-center">
        <div class="col col-md-10 col-lg-8">
          <p class="sn-home__subtext" translate>Home.subtext</p>
          <p class="sn-home__subtext" translate>Home.subtext2</p>
          <p class="sn-home__subtext" translate>Home.subtext3</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div text-center class="sn-home__carousel col" data-ride="carousel" >
      <div class="row justify-content-center text-center">
        <div class="col-10 col-lg-6">
          <h4 translate>Home.carousel.title</h4>
        </div>
      </div>
      
      <ngx-slick class="text-carousel" [config]="carouselSlideConfig">
          <div ngxSlickItem *ngFor="let carouselString of carouselStrings">
            <h3 class="single-text" translate >{{ 'Home.carousel.' + carouselString }}</h3>
          </div>
      </ngx-slick>
    </div>
  </div>
  <div class="sn-home__carousel-subtext row mt-4 justify-content-center">
    <div class="col-12 col-md-10 col-lg-6 text-center">
      <p translate>Home.carousel.subtext</p>
    </div>
  </div>

  <div class="row sn-home__secret justify-content-center">
    <div class="container-fluid">
    <div class="row mt-4 justify-content-center text-center">
      <div class="col-12">
        <h2 class="sn-home__secret-title" translate>Home.panel3.title</h2>
      </div>
    </div>
    <div class="row mt-4 justify-content-center text-center">
      <div class="col-12 col-md-5">
        <p translate>Home.panel3.subtext</p>
      </div>
    </div>
    <div class="row text-center justify-content-center sn-home__secret-subtext">
      <div class="col-12 col-md-5 col-lg-3">
        <h4 translate>Home.panel3.subtitles.whystorming<br />
          <img
            *ngIf="isMobile"
            class="info-icon"
            src="assets/info-icon.png" alt="info text"
            placement="bottom"
            ngbPopover='{{ "Home.panel3.subtitles.whyPop" | translate }}'
            popoverTitle='{{ "Home.panel3.subtitles.whystorming" | translate }}'
          />
          <img
            *ngIf="!isMobile"
            class="info-icon"
            src="assets/info-icon.png" alt="info text"
            placement="bottom"
            triggers="mouseenter:mouseleave"
            ngbPopover='{{ "Home.panel3.subtitles.whyPop" | translate }}'
            popoverTitle='{{ "Home.panel3.subtitles.whystorming" | translate }}'
          />
        </h4>
      </div>
      <div class="col-12 col-md-5 col-lg-3">
        <h4 translate>Home.panel3.subtitles.truthstorming<br />
          <img
            *ngIf="isMobile"
            class="info-icon"
            src="assets/info-icon.png" alt="info text"
            placement="bottom"
            ngbPopover='{{ "Home.panel3.subtitles.truthPop" | translate }}'
            popoverTitle='{{ "Home.panel3.subtitles.truthstorming" | translate }}'
          />
          <img
            *ngIf="!isMobile"
            class="info-icon"
            src="assets/info-icon.png" alt="info text"
            placement="bottom"
            triggers="mouseenter:mouseleave"
            ngbPopover='{{ "Home.panel3.subtitles.truthPop" | translate }}'
            popoverTitle='{{ "Home.panel3.subtitles.truthstorming" | translate }}'
          />
        </h4>
      </div>
      <div class="col-12 col-md-5 col-lg-3">
        <h4 translate>Home.panel3.subtitles.swarm<br />
          <img
            *ngIf="isMobile"
            class="info-icon"
            src="assets/info-icon.png" alt="info text"
            placement="bottom"
            ngbPopover='{{ "Home.panel3.subtitles.swarmPop" | translate }}'
            popoverTitle='{{ "Home.panel3.subtitles.swarm" | translate }}'
          />
          <img
            *ngIf="!isMobile"
            class="info-icon"
            src="assets/info-icon.png" alt="info text"
            placement="bottom"
            triggers="mouseenter:mouseleave"
            ngbPopover='{{ "Home.panel3.subtitles.swarmPop" | translate }}'
            popoverTitle='{{ "Home.panel3.subtitles.swarm" | translate }}'
          />
        </h4>
      </div>
      <div class="col-12 col-md-5 col-lg-3">
        <h4 translate>Home.panel3.subtitles.hyper<br />
          <img
            *ngIf="isMobile"
            class="info-icon"
            src="assets/info-icon.png" alt="info text"
            placement="bottom"
            ngbPopover='{{ "Home.panel3.subtitles.hyperPop" | translate }}'
            popoverTitle='{{ "Home.panel3.subtitles.hyper" | translate }}'
          />
          <img
            *ngIf="!isMobile"
            class="info-icon"
            src="assets/info-icon.png" alt="info text"
            placement="bottom"
            triggers="mouseenter:mouseleave"
            ngbPopover='{{ "Home.panel3.subtitles.hyperPop" | translate }}'
            popoverTitle='{{ "Home.panel3.subtitles.hyper" | translate }}'
          />
        </h4>
      </div>
    </div></div>
  </div>

  <div class="sn-home__quotes text-center">
    <h3 class="sn-home__quotes-title text-uppercase" translate>Home.quotes.title</h3>
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <ngx-slick #slickModal="slick-modal" [config]="quoteSlideConfig">
            <div ngxSlickItem *ngFor="let count of [0,1,2,3]">
              <img class="quote-img mb-4" src="assets/quote-marks-open.png">
              <div>
                <h3 class="sn-home__quotes-quote" translate >{{ 'Home.quotes.list.' + count }}</h3>
              </div>
              <img class="quote-img quote-img-bottom mt-4" src="assets/quote-marks-close.png">
            </div>
        </ngx-slick>
      </div>
    </div>
  </div>
</div>
  <div class="sn-home__video text-center">
    <div *ngIf="isMobile" class="embed-container">
      <iframe src="//player.vimeo.com/video/254191510?loop=1" frameborder="0"></iframe>
    </div>
    <div *ngIf="!isMobile" class="embed-container">
      <iframe src="//player.vimeo.com/video/254191510?background=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>

<div class="container-fluid sn-home">
  <a name="curious"></a>
  <div class="sn-home__curious text-center row justify-content-center">
    <div class="col-12">
      <h3 class="sn-home__curious-title text-uppercase" translate>Home.curious.title</h3>
    </div>
    <div class="col-12">
      <div class="sn-home__curious-form row justify-content-center">
        <div 
          *ngFor="let key of ['sponsor', 'solutionist', 'partner']"
          class="col-12 col-sm-7 col-lg-5 col-xl-4">
          <div class="form-group mx-4">

            <!-- Begin MailChimp Signup Form -->
            <div>
              <form action="{{ 'https://global.us17.list-manage.com/subscribe/post?u=6087c66855bfaa08f21413b7f&amp;id=' + mailChimpKeys[key] }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                  <label
                    *ngIf="isMobile"
                    for="{{ key }}" 
                    placement="top"
                    ngbPopover='{{ "Home.curious." + key + ".popoverText" | translate }}'
                    popoverTitle='{{ "Home.curious." + key + ".popoverTitle" | translate | uppercase }}'
                    translate
                  >
                    {{ 'Home.curious.' + key + '.title' }} <img class="info-icon" src="assets/info-icon.png" />
              
                  </label>
                  <label
                    *ngIf="!isMobile"
                    for="{{ key }}" 
                    placement="top"
                    triggers="mouseenter:mouseleave"
                    ngbPopover='{{ "Home.curious." + key + ".popoverText" | translate }}'
                    popoverTitle='{{ "Home.curious." + key + ".popoverTitle" | translate | uppercase }}'
                    translate
                  >
                    {{ 'Home.curious.' + key + '.title' }} <img class="info-icon" src="assets/info-icon.png" />
              
                  </label>
                  <input
                    type="email" value="" name="EMAIL"
                    class="form-control text-center email"
                    [placeholder]="'Home.curious.email' | translate | uppercase" required>
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="{{ 'b_6087c66855bfaa08f21413b7f_' + mailChimpKeys[key] }}" tabindex="-1" value=""></div>
                  <button type="submit" class="btn btn-primary btn-block text-uppercase" translate>{{ 'Home.curious.' + key + '.action' }}</button>
                </div>
              </form>
            </div>
            <!--End MailChimp Signup Form -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sn-home__knock text-center row justify-content-center">
    <div class="col">
    <h2 translate>Home.knock.title</h2>
    <button class="btn btn-outline-primary text-uppercase" translate>Home.knock.action</button>
  </div></div>

  <div class="sn-home__looking text-center row justify-content-center">
    <div class="col">
    <h3 class="text-uppercase" translate>Home.looking.title</h3>
    </div>
  </div>
</div>

