@import "src/theme/theme-variables";

.sn-home {
  &__jumbotron {
    background-image: url("/assets/home-top.png");
    background-position: center; 
    background-repeat: no-repeat;
  }

  .logo {
    margin-top: 71px;
    margin-bottom: 71px;
  }

  
  &__subtext {
    margin-top: 30px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 1px;
  }

  &__carousel {
    text-align: center;

    .carousel-inner {
      height: 110px;
      font-family: 'Playfair Display', serif;
    }

    h3 {
      padding-top: 20px;
    }

    h4 {
      font-size: 16px;
      letter-spacing: 5px;
      margin-top: 200px;
    }

  }

  &__carousel-subtext {
    margin-bottom: 184px;
  }

  &__secret {
    background-image: url("/assets/secret-weapon.png");
    background-position: center; 
    background-repeat: no-repeat;

    &-title {
      margin-top: 200px;
    }

    &-subtext {
      margin-top: 70px;
      padding-bottom: 190px;
      
      i {
        font-size: 15px;
        font-style: italic;
        vertical-align: middle;
      }

      h3 {
        color: $black
      }
    }
  }

  &__quotes {
    height: 500px;
    &-title {
      margin-top: 200px;
      margin-bottom: 50px;
      font-size: 16px;
      letter-spacing: 5px;
    }

    .carousel-indicators {
      top: 260px;
      margin-bottom: 240px;
    }

    &-quote {
      font-size: 30px;
	    line-height: 1.2;
      font-family: 'Playfair Display', serif;
    }

  }
  
  &__video {
    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
      width: 100%;height: 100vh;position: relative;
    }
  }

  &__curious {
    margin-bottom: 200px;
    &-title {
      margin-top: 210px;
      margin-bottom: 40px;
      font-size: 16px;
      letter-spacing: 5px;
    }

    &-form {
      label {
        font-family: 'Playfair Display', serif;
        font-size: 30px;
        margin-bottom: 30px;

      }
      
      i {
        font-size: 15px;
        font-style: italic;
        vertical-align: middle;
      }

      h3 {
        color: $black
      }

      input {
        background-color: #1c1c1c;
        border: none;
        margin-bottom: 5px;
      }

      button {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 3.1px;
        height: 44px;
      }
    }

    .form-control {
      font-size: 12px;
    }
  }

  &__knock {
    background-image: url("/assets/knock-knock.png");
    background-position: center; 
    background-repeat: no-repeat;

    h2 {
      padding-top: 200px;
    }

    button {
      margin-top: 50px;
      margin-bottom: 255px;
      font-size: 14px;
      font-weight: 600;
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &__looking {
    background: $yellow;
    height: 124px;
    background-image: url("/assets/triple-dash-icon-black.png");
    background-position: left; 
    background-size: auto 100%;
    background-repeat: no-repeat;
    padding-top: 55px;

    h3 {
      font-size: 16px;
      letter-spacing: 5px;
      color: $black;
    }
  }
  
  .carousel-indicators li {
    border-radius: 6px;
    margin: 1px 3px;
    height: 6px;
    max-width: 6px;
    border: 1px solid $white;
    background-color: $white;
  }

  .carousel-indicators li.active {
    background-color: $yellow;
  }
  
  .carousel-control-prev, .carousel-control-next {
    display: none;
  }
}

